.js-clickable{
    color: gold;
}
.js-clickable:hover{
    text-decoration: underline;
    cursor: pointer;
}
#js-hidden{
    display: none;
}
#operator-hidden{
    display: none;
}
.operator-click{
    color: greenyellow;
}
.operator-click:hover{
    text-decoration: underline;
    cursor: pointer;
}
#variable-hidden{
    display: none;
}
.variable-click{
    color: hotpink;
}
.variable-click:hover{
    text-decoration: underline;
    cursor: pointer;
}
#variable-n-hidden{
    display: none;
}
.variable-n-click{
    color: blue;
}
.variable-n-click:hover{
    text-decoration: underline;
    cursor: pointer;
}
#functions-hidden{
    display: none;
}
.functions-click{
    color: red;
}
.functions-click:hover{
    text-decoration: underline;
    cursor: pointer;
}